<div id="left">
    <form action="http://www.eakroko.de/flat/search-results.html" method="GET" class='search-form'>
        <div class="search-pane">
            <input type="text" name="search" placeholder="Search here...">
            <button type="submit"><i class="icon-search"></i></button>
        </div>
    </form>
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Quản lý</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <a href="#">Quản lý loại xe</a>
            </li>
            <li>
                <a href="#">Quản lý xe</a>
            </li>
            <li>
                <a href="#">Quản lý liên hệ</a>
            </li>
        </ul>
    </div>
</div>
