<div id="navigation" class="navbar-fixed-top">
		<div class="container-fluid">
			<a href="#" id="brand">Sunrise</a>
			<a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation"><i class="icon-reorder"></i></a>
			<ul class='main-nav'>
				<li id="menu_home">
					<a href="/">
						<i class="icon-home"></i>
						<span>Trang chủ</span>
					</a>
				</li>
				<li>
					<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<i class="icon-edit"></i>
						<span>Quản lý</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/Product">Quản lý xe</a>
						</li>
						<li>
							<a href="forms-extended.html">Quản lý người dùng</a>
						</li>
                        <li>
							<a href="forms-validation.html">Quản lý slide ảnh</a>
						</li>
                        <li>
							<a href="forms-validation.html">Quản lý slide thương hiệu</a>
						</li>
						<li>
							<a href="/Contact">Quản lý liên hệ</a>
						</li>
					</ul>
				</li>
                <li>
					<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<i class="icon-edit"></i>
						<span>Danh mục</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/Catalogue">Danh mục hãng sản xuất</a>
						</li>
						<li>
							<a href="/PropertyCatalogue">Danh mục bộ thông số</a>
						</li>
						<li>
							<a href="/PropertySubCatalogue">Danh mục nhóm thông số</a>
						</li>
                        <li>
							<a href="/Property">Danh mục thông số</a>
						</li>
                        <li>
							<a href="/NewCatalogue">Chuyên mục tin tức</a>
						</li>
					</ul>
				</li>
                 <li>
					<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<i class="icon-edit"></i>
						<span>Thiết lập</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/Configuration/Info">Thông tin hệ thống</a>
						</li>
						<li>
							<a href="forms-extended.html">Thay đổi Top Slide</a>
						</li>
						<li>
							<a href="forms-validation.html">Thay đổi Bottom Slide</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="user">
				<ul class="icon-nav">
					<li class="dropdown sett">
						<a href="#" class='dropdown-toggle' data-toggle="dropdown"><i class="icon-cog"></i></a>
						<ul class="dropdown-menu pull-right theme-settings">
							<li>
								<span>Layout-width</span>
								<div class="version-toggle">
									<a href="#" class='set-fixed'>Fixed</a>
									<a href="#" class="active set-fluid">Fluid</a>
								</div>
							</li>
							<li>
								<span>Topbar</span>
								<div class="topbar-toggle">
									<a href="#" class='active set-topbar-fixed'>Fixed</a>
									<a href="#" class="set-topbar-default">Default</a>
								</div>
							</li>
							<li>
								<span>Sidebar</span>
								<div class="sidebar-toggle">
									<a href="#" class='set-sidebar-fixed'>Fixed</a>
									<a href="#" class="active set-sidebar-default">Default</a>
								</div>
							</li>
						</ul>
					</li>
					<li class='dropdown colo'>
						<a href="#" class='dropdown-toggle' data-toggle="dropdown"><i class="icon-tint"></i></a>
						<ul class="dropdown-menu pull-right theme-colors">
							<li class="subtitle">
								Predefined colors
							</li>
							<li>
								<span class='red'></span>
								<span class='orange'></span>
								<span class='green'></span>
								<span class="brown"></span>
								<span class="blue"></span>
								<span class='lime'></span>
								<span class="teal"></span>
								<span class="purple"></span>
								<span class="pink"></span>
								<span class="magenta"></span>
								<span class="grey"></span>
								<span class="darkblue"></span>
								<span class="lightred"></span>
								<span class="lightgrey"></span>
								<span class="satblue"></span>
								<span class="satgreen"></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="more-locked.html" class='lock-screen' rel='tooltip' title="Lock screen" data-placement="bottom"><i class="icon-lock"></i></a>
					</li>
				</ul>
				<div class="dropdown">
					<a href="#" class='dropdown-toggle' data-toggle="dropdown">@User.Identity.Name <img src="Content/img/demo/user-avatar.jpg" alt=""></a>
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="more-userprofile.html">Edit profile</a>
						</li>
						<li>
							@Html.ActionLink("Log Off", "LogOff", "Account")
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
