@using Showroom.Models.DataAccess;
@{
    ShowroomRepository rep = new ShowroomRepository();

    var lstCatalogue = rep.GetProductCatalogueList();
    var lstNewsCatalogue = rep.GetNewsCatalogueList();
}

<nav>
    <ul class="sf-menu">
        <li class="current"><a href="/"><i class="icon-home"></i>Trang chủ</a>
        </li>
        <li><a href="#"><i class="icon-bolt"></i>Siêu thị xe</a>
            <ul>
                <li class="arrow-top"><i class="icon-caret-down"></i></li>
                @foreach(var item in lstCatalogue)
                {
                <li><a href="/san-pham/@item.NameEn/@item.Id/1">@item.Name</a></li>
                }
            </ul>
        </li>
        <li><a href="#"><i class="icon-comments"></i>Tin tức</a>
                        <ul>
                <li class="arrow-top"><i class="icon-caret-down"></i></li>
                @foreach (var CNews in lstNewsCatalogue)
                {
                <li><a href="/tin-tuc/danh-sach/@CNews.NameEn/@CNews.Id-1">@CNews.Name</a></li>
                }
            </ul>
        </li>
        <li><a href="services.html"><i class="icon-user"></i>Dịch vụ</a></li>
        <li><a href="/Home/Contact"><i class="icon-envelope-alt"></i>Liên hệ</a></li>
    </ul>
    <div class="clearfix"></div>
</nav>
