<div class="container slideTop">
    <div class="row">
        <div class="span12">
            <div class="home-slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="images/sliders/hyundai.jpg" alt="" />
                        </li>
                        <li>
                            <img src="images/sliders/mazda.png" alt="" />
                        </li>
                        <li>
                            <img src="images/sliders/kia.jpg" alt="" />
                        </li>
                        <li>
                            <img src="images/sliders/mazda.png" alt="" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
