<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>Infinitus Responsive Theme</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,600,700,500,300' rel='stylesheet'
        type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700'
        rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png">

    <style type="text/css">
        .image_carousel {
            padding: 0px 0 15px 40px;
            position: relative;
        }

        .image_carousel {
            padding: 15px 40px;
            position: relative;
            width: 870px;
        }

            .image_carousel img {
                border: 1px solid #ccc;
                background-color: white;
                padding: 9px;
                margin: 7px;
                display: block;
                float: left;
            }

        a.prev, a.next {
            background: url(/images/miscellaneous_sprite.png) no-repeat transparent;
            width: 45px;
            height: 50px;
            display: block;
            position: absolute;
            top: 45px;
        }

        a.prev {
            left: -5px;
            background-position: 0 0;
        }

            a.prev:hover {
                background-position: 0 -50px;
            }

            a.prev.disabled {
                background-position: 0 -100px !important;
            }

        a.next {
            right: -5px;
            background-position: -50px 0;
        }

            a.next:hover {
                background-position: -50px -50px;
            }

            a.next.disabled {
                background-position: -50px -100px !important;
            }

            a.prev.disabled, a.next.disabled {
                cursor: default;
            }

            a.prev span, a.next span {
                display: none;
            }

        .pagination {
            text-align: center;
        }

            .pagination a {
                background: url(/images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
                width: 15px;
                height: 15px;
                margin: 0 5px 0 0;
                display: inline-block;
                padding: 0px;
            }

                .pagination a:hover {
                    background-position: -25px -300px;
                }

                .pagination a.selected {
                    background-position: -25px -300px;
                    cursor: default;
                }

                .pagination a span {
                    display: none;
                }

        .clearfix {
            float: none;
            clear: both;
        }

        #foo2 img {
            height: 80px;
        }

        .slideTop {
            margin-bottom: 20px;
            margin-top: -10px;
        }

        .boderB {
            background: url(/images/body-bg.png) repeat;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            box-shadow: 0 0 5px #DFDFDF;
            width: 970px;
            padding-top: 7px;
            margin: 0 auto;
        }

        .clPadingBody {
            padding: 0px;
        }

        .blod {
            font-weight: bold;
        }

        .warp-content {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>
</head>
<body>

    <!--Header Start-->
    <header>
        @Html.Partial("_Header")
    </header>
    <!--Header End-->

    <!--Bodycontent Start-->
    <div id="body-content clPadingBody">
        @RenderBody()
    </div>
    <!--Bodycontent End-->

    <!--Footer Start-->
    <footer>
        @Html.Partial("_Footer")
    </footer>
    <!--Footer End-->


    <p id="back-top">
        <a href="#top"><i class="icon-arrow-up"></i></a>
    </p>


    <!--Javascript Library Start-->
    <script type='text/javascript' src='/Scripts/js/jquery.min.js'></script>
    <script type='text/javascript' src='/Scripts/js/jquery.easing.1.3.js'></script>
    <script type="text/javascript" src="/Scripts/js/superfish.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.tweet.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/Scripts/js/mosaic-min.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/Scripts/js/modernizr.js"></script>
    <script type='text/javascript' src="/Scripts/js/iview.js"></script>
    <script type='text/javascript' src='/Scripts/js/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='/Scripts/js/camera.min.js'></script>
    <script type="text/javascript" src="/Scripts/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.iosslider.min.js"></script>
    <script type="text/javascript" src="/Scripts/js/jcarousel.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.carouFredSel.js"></script>
    <script type="text/javascript" src="/Scripts/js/script.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $('.titleSearchBox').click(function () {
            $('#searchtool').toggle('slow');
            return false;
        });
    </script>
</body>
</html>
