@using Showroom.Models.DataAccess


<link href="/css/jquery.bxslider.css" rel="stylesheet" />
<script src="/Scripts/jquery.min.js"></script>
<script src="/Scripts/jquery.bxslider.js"></script>


<div class="slider">
    <ul class="bxslider">
        @{
            ShowroomRepository rep = new ShowroomRepository();
            var lstCatalogue = rep.GetProductCatalogueList();
            for (var k = 0; k < lstCatalogue.Count(); k++)
            {
                string Name = lstCatalogue[k].Name.ToString();
                string NameEn = lstCatalogue[k].NameEn.ToString();
                Int32 Id = Convert.ToInt32(lstCatalogue[k].Id.ToString());
            <li>
                <a href="/san-pham/@NameEn/@Id/1" title="Sản phẩm hãng @Name"><img src="/Images/Catalogue/@lstCatalogue[k].Id/@lstCatalogue[k].Image" alt="basketball" width="140" height="140" /></a>
            </li>
            }
        }
    </ul>
</div>

<script type="text/javascript">
        $('.bxslider').bxSlider({
            minSlides: 3,
            maxSlides: 4,
            slideWidth: 170,
            slideMargin: 10,
            auto: true
        });
</script>


@*<div class="image_carousel">
    <div id="foo2">
        @{
            ShowroomRepository rep = new ShowroomRepository();
            var lstCatalogue = rep.GetProductCatalogueList();
            for (var k = 0; k < lstCatalogue.Count(); k++)
            {
                            
            <img src="/Images/Catalogue/@lstCatalogue[k].Id/@lstCatalogue[k].Image" alt="basketball" width="140" height="140" />
            }
        }
    </div>
    <div class="clearfix"></div>
    <a class="prev" id="foo2_prev" href="#"><span>prev</span></a>
    <a class="next" id="foo2_next" href="#"><span>next</span></a>
    <div class="paginationCl" id="foo2_pag"></div>
</div>
<script type='text/javascript' src='/Scripts/js/jquery.min.js'></script>
<script type="text/javascript" src="/Scripts/js/jcarousel.js"></script>
<script type="text/javascript" src="/Scripts/js/jquery.carouFredSel.js"></script>
<script type="text/javascript" src="/Scripts/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript">
    $(function () {
        $("#foo2").carouFredSel({
            circular: false,
            infinite: true,
            auto: true,
            prev: {
                button: "#foo2_prev",
                key: "left"
            },
            next: {
                button: "#foo2_next",
                key: "right"
            },
            pagination: "#foo2_pag"
        });
    });
</script>*@
