<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="span6">
                Copyright © 2013 SunRise Auto. All rights reserved. 
                   
            </div>
            <div class="span6" style="text-align: right;">
                Design By <a target="_blank" href="http://xomtrosv.com">cho thue phong tro</a> | PhuHaiGia-Group
            </div>
        </div>
    </div>
</div>
