@using Showroom.Models.DataAccess
@{
    ShowroomRepository rep = new ShowroomRepository();
    var systemConfig = rep.GetSystemInfoList();
    var email_info = (from sy in systemConfig where sy.Code == "email_info" select sy.Value).FirstOrDefault();
    var phone_info = (from sy in systemConfig where sy.Code == "phone_info" select sy.Value).FirstOrDefault();
}
<div class="boderB">
    <div class="container">
        <div class="row">
            <div class="span3 logo">
                <div class="shadow-wrapper">
                    <a href="/">
                        <img src="/images/logo.png" alt="Infinitus"></a>
                </div>
            </div>
            <div class="span9" style="height: 15px;margin-top: 15px;">
                <div class="row show-grid">
                    <div class="span6">
                        <div class="top-contact">
                            <a href="mailto:@email_info"><i class="icon-envelope-alt"></i>@email_info</a> <i class="icon-phone"></i>@phone_info<br />
                        </div>
                    </div>
                    <div class="span3">
                        <div class="row show-grid">
                            <div class="search-top">
                                <script>
                                    (function () {
                                        var cx = '001878825490984196327:ahkgm1jqywe';
                                        var gcse = document.createElement('script');
                                        gcse.type = 'text/javascript';
                                        gcse.async = true;
                                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                            '//www.google.com/cse/cse.js?cx=' + cx;
                                        var s = document.getElementsByTagName('script')[0];
                                        s.parentNode.insertBefore(gcse, s);
                                    })();
                                </script>
                                <gcse:search></gcse:search>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--MENU TOP-->
            <div class="span9">
                @Html.Partial("_MenuTop")
            </div>
            <!-- END MENU TOP -->
        </div>
    </div>
</div>
