@using Showroom.Models.DataAccess;
@{
    ShowroomRepository rep = new ShowroomRepository();

    var lstCatalogue = rep.GetProductCatalogueList();
    var lstProduct = rep.GetProductsList();


    var listCatalogueDrop = (from p in lstCatalogue
                             select new SelectListItem
                             {
                                 Value = p.Id.ToString(),
                                 Text = p.Name,
                             }).ToList();
                             
                             
    

}

<div class="shadow-wrapper searchtitle" id="searchbox">
    <div class="titleSearchBox">
        <span>TÌM KIẾM XE</span>
    </div>
    @using (Html.BeginForm("SearchProduct", "Home", FormMethod.Get))
    {
        <ul class="searchtool" id="searchtool">
            <li>
                @Html.DropDownList("CID", (IList<SelectListItem>)listCatalogueDrop, "----- Hãng xe -----")
            </li>
            <li>
                <select id="ModelID" name="ModelID" disabled="disabled">
                    <option value="tat-ca">------ Model ------</option>
                </select>
            </li>
            <li>
                <select id="TYPEID" name="TYPEID">
                    <option value="tat-ca">----Tình trạng----</option>
                    <option value="xe-cu">Xe cũ</option>
                    <option value="xe-moi">Xe mới</option>
                </select>
            </li>
            <li>
                <input type="submit" value=" Tìm kiếm " class="button-green btn fright">
                <div class="clearfix"></div>
            </li>
        </ul>
    }
    <script type='text/javascript' src='/Scripts/js/jquery.min.js'></script>
    <script type="text/javascript">
        $('#CID').change(function () {
            LoadModelByCatalogue(this.value);
        });

        function LoadModelByCatalogue(cataID) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadModelByCatalogueId", "Home")',
                data: "{'cataID':'" + cataID + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                success: function (data) {
                    $('#ModelID').get(0).options.length = 0;
                    $('#ModelID').get(0).options[0] = new Option("------ Model ------", "tat-ca");

                    $.map(data, function (item) {
                        $('#ModelID').get(0).options[$('#ModelID').get(0).options.length] = new Option(item.Display, item.Value);
                    });
                    $('#ModelID').removeAttr("disabled");
                },
                error: function () {
                    alert("Có lỗi trong quá trình xử lý");
                }
            });
        }

        $(document).ready(function () {
            if ($('#CID').val() != "") {
                var cataId = $('#CID').val();
                LoadModelByCatalogue(cataId);
                $('#ModelID').removeAttr("disabled");
            } else {
                $('#ModelID').attr("disabled", "disabled");
            }
            console.log($('#ModelID').attr("disabled"));
        });
    </script>
</div>
<div class="shadow-wrapper">
    <div class="titleBox">
        <span>SIÊU THỊ XE</span>
    </div>
    <ul class="leftnav bullets-style blue  arrow-list">
        @foreach (var c in lstCatalogue)
        {
            <li><a href="/san-pham/@c.NameEn/@c.Id/1">@c.Name</a></li>
        }
    </ul>
</div>
