<div class="boderB">
    <div class="container">
        <div class="row">
            <div class="span3 logo">
                <div class="shadow-wrapper">
                    <a href="/">
                        <img src="/images/logo.png" alt="Infinitus"></a>
                </div>
            </div>
            <div class="span9">
                <div class="row show-grid">
                    <div class="span6">
                        <div class="top-contact">
                            <a href="#"><i class="icon-envelope-alt"></i>contact@sunriseauto.com</a> <i class="icon-phone"></i>+ 04 836 2335<br />
                        </div>
                        <div class="suport-online">
                            <script type="text/javascript" src="http://cdn.dev.skype.com/uri/skype-uri.js"></script>
                            <div id="SkypeButton_Chat_nguyentv91_1" style="height: 30px; float: right;">
                                <script type="text/javascript">
                                    Skype.ui({
                                        "name": "chat",
                                        "element": "SkypeButton_Chat_nguyentv91_1",
                                        "participants": ["nguyentv91"],
                                        "imageSize": 16
                                    });
                                </script>
                            </div>
                            <div style="float: right; margin-top: 14px;">
                                <a href="ymsgr:sendIM?nguyentv91">
                                    <img src="http://opi.yahoo.com/online?u=nguyentv91&m=g&t=1" border="0" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="row show-grid">
                            <div class="search-box">
                                <input class="search-text span3" type="text" name="s" value="Search this site" onfocus="if (this.value == this.defaultValue) this.value = '';" onblur="if (this.value == '') this.value = this.defaultValue;">
                                <input class="search-submit" type="submit" name="submit" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--MENU TOP-->
            <div class="span9">
                @Html.Partial("_MenuTop");
            </div>
            <!-- END MENU TOP -->
        </div>
    </div>
</div>
