<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,600,700,500,300' rel='stylesheet'
        type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700'
        rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png">
</head>
<body>

    <!--Header Start-->
    <header>
        @Html.Partial("_Header")
    </header>
    <!--Header End-->

    <!--Bodycontent Start-->
    <div id="body-content clPadingBody">
            @RenderBody() 
    </div>
    <!--Bodycontent End-->

    <!--Footer Start-->
    <footer>
         @Html.Partial("_Footer")
    </footer>
    <!--Footer End-->


    <p id="back-top">
        <a href="#top"><i class="icon-arrow-up"></i></a>
    </p>


    <!--Javascript Library Start-->
    <script type='text/javascript' src='/Scripts/js/jquery.min.js'></script>
    <script type='text/javascript' src='/Scripts/js/jquery.easing.1.3.js'></script>
    <script type="text/javascript" src="/Scripts/js/superfish.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.tweet.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/Scripts/js/mosaic-min.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/Scripts/js/modernizr.js"></script>
    <script type='text/javascript' src="/Scripts/js/iview.js"></script>
    <script type='text/javascript' src='/Scripts/js/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='/Scripts/js/camera.min.js'></script>
    <script type="text/javascript" src="/Scripts/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.iosslider.min.js"></script>
    <script type="text/javascript" src="/Scripts/js/jcarousel.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.carouFredSel.js"></script>
    <script type="text/javascript" src="/Scripts/js/script.js"></script>
    <script type="text/javascript">
        //$('.titleSearchBox').click(function () {
        //    $('#searchtool').toggle('slow');
        //    return false;
        //});
    </script>
</body>
</html>
