@using Showroom.Models.DataAccess;
@{
    ShowroomRepository rep = new ShowroomRepository();

    var lstCatalogue = rep.GetProductCatalogueList();

    var listCatalogueDrop = (from p in lstCatalogue
                             select new SelectListItem
                             {
                                 Value = p.Id.ToString(),
                                 Text = p.Name,
                             }).ToList();
    
}

<div class="shadow-wrapper searchtitle" id="searchbox">
    <div class="titleSearchBox">
        <span>TÌM KIẾM XE</span>
    </div>
    @using (Html.BeginForm("SearchResault", "Home", FormMethod.Get))
    {
        <ul class="searchtool" id="searchtool">
            <li>
                @Html.DropDownList("CID", (IList<SelectListItem>)listCatalogueDrop)
            </li>
            <li>
                <input type="text" name="keyword" id="keyword" placeholder="Từ khóa"   value=""/>
            </li>
            <li>
            <li>
                <select id="priceFrom" name="priceFrom">
                    <option value="-1">----Giá từ----</option>
                    <option value="200000000">200 triệu</option>
                    <option value="300000000">300 triệu</option>
                    <option value="400000000">400 triệu</option>
                    <option value="500000000">500 triệu</option>
                    <option value="600000000">600 triệu</option>
                    <option value="700000000">700 triệu</option>
                </select>
            </li>
            <li>
                <select id="priceTo" name="priceTo">
                    <option value="-1">----Giá đến----</option>
                    <option value="200000000">200 triệu</option>
                    <option value="300000000">300 triệu</option>
                    <option value="400000000">400 triệu</option>
                    <option value="500000000">500 triệu</option>
                    <option value="600000000">600 triệu</option>
                    <option value="700000000">700 triệu</option>
                </select>
            </li>
            <li>
                <input type="submit" value=" Tìm kiếm " class="button-green btn fright">
                <div class="clearfix"></div>
            </li>
        </ul>
    }
</div>
<div class="shadow-wrapper">
    <div class="titleBox">
        <span>SIÊU THỊ XE</span>
    </div>
    <ul class="leftnav bullets-style blue  arrow-list">
        @foreach (var c in lstCatalogue)
        {
            <li><a href="/san-pham/@c.NameEn/@c.Id/1">@c.Name</a></li>
        }
    </ul>
</div>
