@{
    int pageIdx = PageData["PageIdx"];
    int listCount = PageData["ListCount"];
    int postPerPage = PageData["PostPerPage"];
    int pageCount = listCount / postPerPage;
    if (listCount % postPerPage != 0) { pageCount++; }
    string query = "";
    foreach (var q in Request.QueryString.Keys)
    {
        if (q != null && q.ToString() != "page")
        {
            query += q + "=" + Request.QueryString[q.ToString()] + "&";
        }
    }
    query = Request.Url.AbsolutePath + "?" + query + "page=";
}
<div class="pagination">
        <a href="@(1 != pageIdx ? query + 1 : "javascript:void(0);")"><i class="icon-chevron-left"></i></a>
        @for (int i = 1; i <= pageCount; i++)
        {
            <a href="@(i != pageIdx ? query + i : "javascript:void(0);")">@i</a>
        }
        <a href="@(pageCount != pageIdx ? query + pageCount : "javascript:void(0);")"><i class="icon-chevron-right"></i></a>
</div>
