@using Common;
<div class="slider-wrap">
    <div class="container">
        <div id="iview" class="slideTop">
            @{
                var imageList = new System.Collections.ArrayList();
                var imagePath = Server.MapPath(@"~/Images/Slide/Top/");
                imageList = @clsHelper.GetImageInFolder(imagePath, "/Images/Slide/Top/");
                var NoimgPath = "/images/no_image.gif";
                foreach (var strImage in imageList)
                {
                <div data-iview:thumbnail="@strImage" data-iview:image="@strImage"></div>
                }
            }
        </div>
    </div>
</div>
<script type='text/javascript' src='/Scripts/js/jquery.min.js'></script>
<script>
    $(document).ready(function () {
        $('#iview').iView({
            pauseTime: 2000,
            pauseOnHover: true,
            directionNavHoverOpacity: 0,
            timer: "Bar",
            timerDiameter: "50%",
            timerPadding: 0,
            timerStroke: 1,
            timerBarStroke: 0,
            timerColor: "#FFF",
            timerPosition: "bottom-right"
        });
    });
</script>
