<div id="navigation" class="navbar-fixed-top">
		<div class="container-fluid">
			<a href="#" id="brand">Sunrise</a>
			<a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation"><i class="icon-reorder"></i></a>
			<ul class='main-nav'>
				<li id="menu_home">
					<a href="/Admin">
						<i class="icon-home"></i>
						<span>Trang chủ</span>
					</a>
				</li>
				<li>
					<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<i class="icon-edit"></i>
						<span>Quản lý</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/AdminProduct">Quản lý xe</a>
						</li>
						<li>
							<a href="/AdminAccount">Quản lý người dùng</a>
						</li>
                        <li>
							<a href="/AdminImageSlide">Quản lý slide ảnh</a>
						</li>
						<li>
							<a href="/AdminContact">Quản lý liên hệ</a>
						</li>
					</ul>
				</li>
                <li>
					<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<i class="icon-edit"></i>
						<span>Danh mục</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/AdminCatalogue">Danh mục hãng sản xuất</a>
						</li>
						<li>
							<a href="/AdminPropertyCatalogue">Danh mục bộ thông số</a>
						</li>
						<li>
							<a href="/AdminPropertySubCatalogue">Danh mục nhóm thông số</a>
						</li>
                        <li>
							<a href="/AdminProperties">Danh mục thông số</a>
						</li>
                        <li>
							<a href="/AdminNewsCatalogue">Chuyên mục tin tức</a>
						</li>
					</ul>
				</li>
                 <li>
					<a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<i class="icon-edit"></i>
						<span>Thiết lập</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="/AdminConfiguration/Info">Thông tin hệ thống</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="user">
				<div class="dropdown">
					<a href="#" class='dropdown-toggle' data-toggle="dropdown">Chào @User.Identity.Name </a>
					<ul class="dropdown-menu pull-right">
						<li>
                            @Html.ActionLink("Thay đổi mật khẩu", "ChangePassword", "AdminAccount")
						</li>
						<li>
							@Html.ActionLink("Đăng xuất", "LogOff", "AdminAccount")
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
