@{
    ViewBag.Title = "Cập nhật ảnh của sản phẩm";
}
@model Showroom.Models.Product
@{
    System.Collections.ArrayList list = ViewBag.ImageList;
    
}
<link rel="stylesheet" href="@Url.Content("~/Content/css/plugins/colorbox/colorbox.css")">
<div class="box box-color box-bordered">
    @using (Html.BeginForm("EditProductImage", "Product", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3><i class="icon-edit"></i>Cập nhật ảnh của sản phẩm</h3>
            </div>
            <div class="box-content">
                <div class="span12">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Chọn ảnh</label>
                        <div class="controls">
                            <input type="file" name="file" multiple="multiple" value="" />
                            <div class="form-actions no-padding">
                                <button type="submit" class="btn btn-primary">Lưu và Next </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    <div class="box-content">
        <ul class="gallery">
            @for (int i = 0; i < list.Count; i++)
            {
                <li>
                    <a href="#">
                        <img src="@list[i]" alt="" class="ProductThumb">
                    </a>
                    <div class="extras">
                        <div class="extras-inner">
                            <a href="@list[i]" class='colorbox-image' rel="group-1"><i class="icon-search"></i></a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<script src="@Url.Content("~/Scripts/plugins/colorbox/jquery.colorbox-min.js")"></script>
